# Node
node_modules/
dist/
out/
.DS_Store

# Swift
.build/
*.o
*.d
*.swp
Packages/
.swiftpm/
Remoter-Mac/build/

# Electron / Web build
Remoter-Client/dist/
Remoter-Client/out/
Remoter-Client/dist-web/
Remoter-Server/public/
Remoter-Server/dist/

# Env
.env
.env.local

# Logs
*.log
npm-debug.log*
